<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
	<meta name="description" content="Resume of Maxime Cony Web Develloper in San Francisco">
	<meta name="keywords" content="Resume, cv, Maxime, Cony, Node, node.js, PHP, Symfony, Zend, Jquery, JavaScript">
	<meta name="author" content="Ståle Refsnes">
	<meta charset="UTF-8">

	<title>404 - Resume - Maxime Cony</title>

	<link rel="stylesheet" href="/public/cool-kitten-master/css/style.min.css" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/public/resume.css" type="text/css" media="screen">

</head>

<body>

	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-40186681-1']);
	_gaq.push(['_setDomainName', 'maxime-cony.com']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>

	

	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div class="container">

				<div class="grid_12" id="main">
					<h1>
						<a title="Resume - Maxime Cony" href="/" style="color: #8A8683;">
							<span class="darkerBlue">{</span> Maxime Cony <span class="darkerBlue">}</span>
						</a>
					</h1>
					<h3 style="font-size: 10em;">4<span class="darkerBlue">0</span>4</h3>
					<p>page not found</p>
				</div>

			</div>

		</div>
	</div>



</body>
</html>
