<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
	<meta name="description" content="Resume of Maxime Cony Web Developer in San Francisco">
	<meta name="keywords" content="Resume, cv, Maxime, Cony, Node, node.js, backbone, backbone.js, PHP, Symfony, Zend, Jquery, JavaScript">
	<meta name="author" content="Maxime Cony">
	<link rel="shortcut icon" href="/images/icon.png">
	<meta charset="UTF-8">

	<title>Resume - Maxime Cony</title>

	<link rel="stylesheet" href="/cool-kitten-master/css/style.min.css" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/resume.css" type="text/css" media="screen">

</head>

<body>

	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-40186681-1']);
	_gaq.push(['_setDomainName', 'maxime-cony.com']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>

	<div class="menu">	
		<div class="container clearfix">

			<div id="nav" class="grid_9 omega">
				<ul class="navigation">
					<li data-slide="1"  class="active">Me</li>
					<li data-slide="2">Work</li>
					<li data-slide="3">Projects</li>
					<li data-slide="4">Studies</li>
					<li data-slide="5">Contact</li>
				</ul>
			</div>

		</div>
	</div>


	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div class="container">

				<div class="grid_12" id="main">
					<h1>
						<span class="darkerBlue">{</span> Maxime Cony <span class="darkerBlue">}</span>
					</h1>
					<a title="Github account" href="https://github.com/maximeCony" target="_blank">
						<img src="/images/GitHub-Mark-32px.png" alt="Github logo" />
					</a>
					<h3>1489 Webster street - 94115 - San Francisco CA</h3>
					<h3> 
						<a href="tel:4154299572"> 415-429-9572 </a> | 
						<a title="mail" href="mailto:maxime.cony@gmail.com">maxime.cony@gmail.com</a>
					</h3>
					<h4>
						<a href="/resume-maxime-cony.pdf" target="_blank">pdf version</a>
					</h4>
				</div>

				<p id="introduction">My name is Maxime Cony, I am a French student and I came to <b class="darkerBlue">San Francisco</b> for my last year of a <b class="darkerBlue">Master's degree in IT</b>. 
					<br>
					<br>
					I am currently looking for a <b class="darkerBlue">job</b> or an <b class="darkerBlue">end-of-studies internship</b> in development <b class="darkerBlue">from June 1</b>.
				</p>

			</div>

		</div>
	</div>



	<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div class="grid_2"></div>
			<div class="grid_8">    

				<h2 class="sectionTitle">Work</h2>

				<section class="internships">
					<section>
						<h2>Web developer intern at Bsoft</h2>
						<h4>Lyon (France) - 1st June 2012 to 1st November 2012</h4>

						<section class="internshipsDescription">
							<h3 class="blue">PHP Symfony2 - Doctrine - Mysql - Twig – Bootstrap - jQuery</h3>
							<ul class="missions">
								<li>Build application’s (iPhone/iPad) configuration back office</li>
								<li>Build application’s RESTful webservices</li>
								<li>Build CMS like to manage an iPad equipped commercial team</li>
							</ul>
						</section>
					</section>
				</section>


				<section id="internInfolegale" class="internships">
					<h2>Web developer intern at Infolegale </h2>
					<h4>Lyon (France) - 1st July 2010 to 1st June 2012</h4>

					<section class="internshipsDescription">
						<h3 class="blue">PHP ZEND - Smarty - Jquery - Sparkline - jqPlot - jqGrid - Mysql</h3>
						<ul class="missions">
							<li>Build application’s (iPhone/iPad) configuration back office</li>
						</ul>

						<h3 class="blue">PHP ZEND - jqGrid - Mysql</h3>
						<ul class="missions">
							<li>Build mini statistical consultation web site</li>
						</ul>

						<h3 class="blue">PHP ZEND - jQuery - jQueryUi - jqGrid - Mysql</h3>
						<ul class="missions">
							<li>Rebuild the original information seizure application</li>
						</ul>

						<h3 class="blue">PHP ZEND - WkHtmlToPdf - jQueryUi – Raphael - Highcharts – Mysql</h3>
						<section id="reportingToolSection">
							<p id="reportingTools">Build reporting tool with:</p>
							<ul class="missions">
								<li>Table</li>
								<li>Graphics</li>
								<li>Dynamic french map</li>
								<li>Data filtering tools (slider, autocomplete)</li>
							</ul>
						</section>
					</section>

				</section>

				<section class="internships">
					<section>
						<h2>Administrator intern at RGI </h2>
						<h4>Lyon (France) – 17th March 2010 to 17th June 2010</h4>
						<section class="internshipsDescription">
							<h3 class="blue">Windows Server 2008 - Active Directory</h3>
							<ul class="missions">
								<li>Microsoft Windows Active Directory configuration</li>
							</ul>
						</section>
					</section>
				</section>

				<section class="internships">
					<section>
						<h2>Web developer intern at Creawell</h2>
						<h4>Lyon (France) – 15th July 2009 to 15th October 2009</h4>
						<section class="internshipsDescription">
							<h3 class="blue">PHP - Javascript</h3>
							<ul class="missions">
								<li>Websites maintenance</li>
							</ul>
						</section>
					</section>
				</section>


			</div>

			<div class="grid_2"></div>

		</div>
	</div>


	<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div class="grid_2"></div>
			<section class="grid_8" id="projects">

				<h2 class="sectionTitle">Projects</h2>

				<section class="personalProject">
					<h2 class="projectTitle">
						Uber Location
						<a class='linkTitle' href="http://uber-coding-challenge-location.herokuapp.com/"  target="_blank" title="Uber Location website">Demo</a>
					</h2>
					<h3 class="darkerBlue">
						<a title="PlaceProject on Github" href="https://github.com/maximeCony/uber-location-challenge" target="_blank">
							<img src="/images/GitHub-Mark-32px.png" alt="Project on Github" />
						</a>
						
					    Node.js -
					    Express -
					    mongoose/Mongodb -
					    api-easy -

					    Backbone -
					    Jquery -
					    Requirejs -
					    gMap -
					    bootstrap -
					    Paranomio API


					</h3>
					<ul>
						<li>Save your favorites locations</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2 class="projectTitle">PlaceProject</h2>
					<h3 class="darkerBlue">
						<a title="PlaceProject on Github" href="https://github.com/rodneyrd/places-project" target="_blank">
							<img src="/images/GitHub-Mark-32px.png" alt="Project on Github" />
						</a>
						Node.js - Express - Backbone.js - Foursquare API - Foundation
					</h3>
					<ul>
						<li>Coming soon!</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2 class="projectTitle">
						TO-DO list socket.io
					</h2>
					<h3 class="darkerBlue">
						<a title="TO-DO list socket.io on Github" href="https://github.com/maximeCony/todo-list-backbone-socket.io" target="_blank">
							<img src="/images/GitHub-Mark-32px.png" alt="Project on Github" />
						</a>
						Node.js - Express - socket.io - Backbone.js - Backbone.ioBind - Bootstrap
					</h3>
					<ul>
						<li>TO-DO list using socket.io</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2 class="projectTitle">
						TO-DO list
						<a class='linkTitle' href="http://backbone-todo-list.herokuapp.com/"  target="_blank" title="TO-DO list website">Demo</a>
					</h2>
					<h3 class="darkerBlue">
						<a title="TO-DO list on Github" href="https://github.com/maximeCony/todo-list-backbone" target="_blank">
							<img src="/images/GitHub-Mark-32px.png" alt="Project on Github" />
						</a>
						Node.js - Express - Backbone.js - Local storage - Bootstrap
					</h3>
					<ul>
						<li>TO-DO list using local storage</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2 class="projectTitle">
						Node.js MVC blog
						<a class='linkTitle' href="http://node-simple-blog.herokuapp.com/posts"  target="_blank" title="Node.js MVC blog website">Demo</a>
					</h2>

					<h3 class="darkerBlue">
						<a title="Basic blog on Github" href="https://github.com/maximeCony/express-mongoose-swig-mvc-simple-blog" target="_blank">
							<img src="/images/GitHub-Mark-32px.png" alt="Project on Github" />
						</a>
						Node.js - Express - mongoose/Mongodb - Backbone.js - Bootstrap
					</h3>
					<ul>
						<li>Basic blog</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2 class="projectTitle">RemotePad</h2>
					<h3 class="darkerBlue">Android - PHP Symfony2 - Doctrine - Mysql - Twig – Bootstrap – jQuery</h3>
					<ul>
						<li>Android application emulating a touchpad and remotes over WIFI (udp)</li>
						<li>Website with remote creator</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2 class="projectTitle">YouFood (School - Project manager)</h2>
					<h3 class="darkerBlue">Android - PHP Symfony2 - Doctrine - Mysql - Twig – Bootstrap – jQuery</h3>
					<h4>Restaurant management application</h4>
					<ul>
						<li>Android application for waiters and customers</li>
						<li>Back office to manage the menu, waiters, tables and orders</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2 class="projectTitle">AutoSup (School - Project manager)</h2>
					<h3 class="darkerBlue">PHP ZEND - jQuery - jQueryUi – Mysql</h3>
					<h4>Driving school management website (planning, car reservation)</h4>
					<ul>
						<li>Planning management</li>
						<li>Car/Driver reservation</li>
					</ul>
				</section>

			</section>

		</div>
	</div>


	<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<section class="grid_12" id="studies">

				<h2 class="sectionTitle">Studies</h2>

				<section>
					<h3><b>2013</b> – Last year of Master’s Degree in IT technology at SUPINFO San Francisco</h3>
					<h3>Learn additional development languages on <a href="http://www.codeschool.com/users/maximeCony" target="_blank" title="Code Shool">codeschool.com</a></h3>


					<br>

					<div class="container clearfix" id="studies_box">

						<div class="grid_4">
							<p><img src="/images/language.png" alt="Languages"></p>
							<p class="boxDescription"><span>Languages</span></p>
							<ul class="boxList blue">
								<li>Node.js (Express)</li>
								<li>PHP (Symfony2 - Zend)</li>
								<li>Javascript (jQuery - Backbone)</li>
								<li>Java (EE - Android)</li>
								<li>C# .net</li>
							</ul>
						</div>
						<div class="grid_4">
							<p><img src="/images/database.png" alt="Database"></p>
							<p class="boxDescription"><span>Database</span></p>
							<ul class="boxList blue">
								<li>Mysql</li>
								<li>MongoDB</li>
							</ul>
						</div>
						<div class="grid_4 omega">
							<p><img src="/images/management.png" alt="Other"></p>
							<p class="boxDescription"><span>Other</span></p>
							<ul class="boxList blue">
								<li>Management</li>
								<li>Law</li>
								<li>Business Intelligence</li>
							</ul>
						</div>

					</div>
				</section>

			</section>

		</div>
	</div>

	<div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
		<div class="container clearfix">


			<section class="grid_3"></section>

			<section class="grid_6" id="contact">

				<h2 id="contactTitle" class="sectionTitle">Contact</h2>

				<div id="MessageFormDiv">

					<form id="contactForm" name="contact" action="/mail" method="post">

						<table id="MessageForm">
							<tr id="nameForm">
								<td class="sectionStudyContent">Name*</td>
								<td><input id="inputName" class="formInputText" type="text" name="name" value="{{ params.name }}"></td>
							</tr>
							<tr>
								<td class="sectionStudyContent">Company</td>
								<td><input class="formInputText" type="text" name="company" value="{{ params.company }}"></td>
							</tr>
							<tr>
								<td class="sectionStudyContent">Email</td>
								<td><input class="formInputText" type="text" name="email" value="{{ params.email }}"></td>
							</tr>
						</table>

						<br>

						<img id='uncle_sam' src="/images/uncle_sam.png" alt="uncle sam" />
						<div id="messageForm">
							<p id="messageP" class="sectionStudyContent">Message*</p>
							<textarea id="formTextArea" class="formInputText" rows="2" cols="20" name="message" placeholder="  I WANT YOU!">{{ params.message }}</textarea>
						</div>

						<br>

						<div id="formButtonSendMessage">
							<p id="sendButtonContent" class="sectionStudyContent">Send</p>
						</div>

						<p id="formErrorMessage">Some fields are mandatory.</p>

					</form>
				</div>
			</section>

			<section class="grid_3"></section>

		</div>
	</div>

	<section id="credits" style="padding: 5px; float: right;">
		<span>Built with: 
			<a href="http://jalxob.com/cool-kitten/" target="_blank" title="Cool kitten">
				<img class='techLogo' src="/images/cool_kitten_logo_min.png" alt="Cool kitten logo" />
			</a>
			<a href="http://nodejs.org" target="_blank" title="Node.js">
				<img class='techLogo' src="/images/node_js_logo_min.png" alt="Node.js logo" />
			</a>
			<a href="https://www.heroku.com/" target="_blank" title="Heroku">
				<img class='techLogo' src="/images/heroku_logo_min.png" alt="Heroku logo" />
			</a>
		</span>
	</section>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
	<script type="text/javascript" src="/cool-kitten-master/js/scripts.min.js"></script>
	<script type="text/javascript" src="/FormManager.js"></script>

	<script>

	$(document).ready(function() {

		var formManager = FormManager();
		formManager.init();
	});

	</script>

</body>
</html>
