<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
	<title>Resume - Maxime Cony</title>
	<link rel="stylesheet" href="/public/cool-kitten-master/css/style.min.css" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/public/cool-kitten-master/js/scripts.min.js"></script>

	<link rel="stylesheet" href="/public/resume.css" type="text/css" media="screen">
	<script>


	$(document).ready(function() {
		window.location.hash = '#{{ scrollTo }}';
	});

	</script>


</head>

<body>

	<div class="menu">	
		<div class="container clearfix">

			<div id="nav" class="grid_9 omega">
				<ul class="navigation">
					<li data-slide="1"  class="active">Me</li>
					<li data-slide="2">Work</li>
					<li data-slide="3">Projects</li>
					<li data-slide="4">Studies</li>
					<li data-slide="5">Contact</li>
				</ul>
			</div>

		</div>
	</div>


	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div class="container">

				<div class="grid_12" id="main">
					<h1>Maxime Cony</h1>
					<h3>1489 Webster street - 94115 - San Francisco CA</h3>
					<h3><span style="color: #66B7F4;">415-429-9572</span> | maxime.cony@supinfo.com</h3>
				</div>
				<p id="introduction">My name is Maxime Cony, I am a French student and I came to San Francisco for my last year of a Master's degree in IT. In order to improve my experience I am currently looking for a end of studies internship in development.</p>

			</div>

		</div>
	</div>



	<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div class="grid_2"></div>
			<div class="grid_8">    

				<h1 class="sectionTitle">Work</h1>

				<section class="internships">
					<section>
						<h2>Web developer intern at Bsoft</h2>
						<h4>Lyon (France) - 1st June 2012 to 1st November 2012</h4>
						<h3 class="languages">PHP Symfony2 - Doctrine - Mysql - Twig – Bootstrap - jQuery</h3>
						<ul>
							<li>Build application’s (iPhone/iPad) configuration back office</li>
							<li>Build application’s RESTful webservices</li>
							<li>Build CMS like to manage an iPad equipped commercial team</li>
						</ul>
					</section>
				</section>


				<section id="internInfolegale" class="internships">
					<h2>Web developer intern at Infolegale </h2>
					<h4>Lyon (France) - 1st July 2010 to 1st June 2012</h4>

					<h3 class="languages">PHP ZEND - Smarty - Jquery - Sparkline - jqPlot - jqGrid - Mysql</h3>
					<ul>
						<li>Build application’s (iPhone/iPad) configuration back office</li>
					</ul>

					<h3 class="languages">PHP ZEND - jqGrid - Mysql</h3>
					<ul>
						<li>Build mini statistical consultation web site</li>
					</ul>

					<h3 class="languages">PHP ZEND - jQuery - jQueryUi - jqGrid - Mysql</h3>
					<ul>
						<li>Rebuild the original information seizure application</li>
					</ul>

					<h3 class="languages">PHP ZEND - WkHtmlToPdf - jQueryUi – Raphael - Highcharts – Mysql</h3>
					<p>Build reporting tool with:</p>
					<ul>
						<li>Table</li>
						<li>Graphics</li>
						<li>Dynamic french map</li>
						<li>Data filtering tools (slider, autocomplete)</li>
					</ul>

				</section>

				<section class="internships">
					<section>
						<h2>Administrator intern at RGI </h2>
						<h4>Lyon (France) – 17th March 2010 to 17th June 2010</h4>
						<ul>
							<li>Microsoft Windows Active Directory configuration</li>
						</ul>
					</section>
				</section>

				<section class="internships">
					<section>
						<h2>Web developer intern at Creawell</h2>
						<h4>Lyon (France) – 15th July 2009 to 15th October 2009</h4>
						<ul>
							<li>Websites maintenance</li>
						</ul>
					</section>
				</section>


			</div>

			<div class="grid_2"></div>

		</div>
	</div>


	<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<h1 class="sectionTitle">Projects</h1>

			<div class="grid_2"></div>
			<section class="grid_10" id="projects">

				<section class="personalProject">
					<h2>RemotePad</h2>
					<h3 class="languagesDarker">Android - Java - PHP Symfony2 - Doctrine - Mysql - Twig – Bootstrap – jQuery</h3>
					<ul>
						<li>Android application emulating a touchpad and remotes over WIFI (udp)</li>
						<li>Website with remote creator</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2>YouFood (School - Project manager)</h2>
					<h3 class="languagesDarker">Android - Java - PHP Symfony2 - Doctrine - Mysql - Twig – Bootstrap – jQuery</h3>
					<h4>Restaurant management application</h4>
					<ul>
						<li>Android application for waiters and customers</li>
						<li>Back office to manage the menu, waiters, tables and orders</li>
					</ul>
				</section>

				<section class="personalProject">
					<h2>AutoSup (School - Project manager)</h2>
					<h3 class="languagesDarker">PHP ZEND - jQuery - jQueryUi – Mysql</h3>
					<h4>Driving school management website (planning, car reservation)</h4>
					<ul>
						<li>Planning management</li>
						<li>Car/Driver reservation</li>
					</ul>
				</section>

			</section>

		</div>
	</div>


	<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<section class="grid_12" id="studies">

				<h1 class="sectionTitle">Studies</h1>

				<section>
					<h3><b>2013</b> – Last year of Master’s Degree in IT technology at SUPINFO San Francisco</h3>
					<h3>Learn development languages on codeschool.com</h3>


					<br/>

					<div class="container clearfix" id="studies_box">

						<div class="grid_4" id="what">
							<p><img src="/public/images/language.png"></p>
							<p class="boxDescription"><span>Languages</span></p>
							<ul class="boxList languages">
								<li>Node.js (Express)</li>
								<li>PHP (Symfony2 - Zend)</li>
								<li>Javascript (jQuery - Backbone)</li>
								<li>Java (EE - Android)</li>
								<li>C# .net</li>
							</ul>
						</div>
						<div class="grid_4" id="what">
							<p><img src="/public/images/database.png"></p>
							<p class="boxDescription"><span>Database</span></p>
							<ul class="boxList languages">
								<li>Mysql</li>
								<li>MongoDB</li>
							</ul>
						</div>
						<div class="grid_4 omega" id="what">
							<p><img src="/public/images/management.png"></p>
							<p class="boxDescription"><span>Other</span></p>
							<ul class="boxList languages">
								<li>Management</li>
								<li>Law</li>
								<li>Business Intelligence</li>
							</ul>
						</div>

					</div>
				</section>

			</section>

		</div>
	</div>

	<div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.5">
		<div class="container clearfix">


			<section class="grid_3"></section>

			<section class="grid_6" id="contact">

				<h1 id="contactTitle" class="sectionTitle">Contact</h1>

				<div id="MessageFormDiv">

					<form id="contactForm" name="contact" action="/mail" method="post">

						<table id="MessageForm">
							<tr>
								<td class="sectionStudyContent">Name</td>
								<td><input class="formInputText" type="text" name="name" value="{{ params.name }}"></td>
							</tr>
							<tr>
								<td class="sectionStudyContent">Company</td>
								<td><input class="formInputText" type="text" name="company" value="{{ params.company }}"></td>
							</tr>
							<tr>
								<td class="sectionStudyContent">Email</td>
								<td><input class="formInputText" type="text" name="email" value="{{ params.email }}"></td>
							</tr>
						</table>
						
						<br/>
						
						<img id='uncle_sam' src="/public/images/uncle_sam.png" alt="uncle sam" />
						<p id="messageP" class="sectionStudyContent">Message</p>
						
						<br/>
						
						<textarea id="formTextArea" class="formInputText" rows="2" cols="20" name="message" placeholder="  I WANT YOU!">{{ params.message }}</textarea>
						
						<br/>
						<br/>
						<br/>
						
						<div id="formButtonSendMessage" onclick="javascript:$('#contactForm').submit()"><p id="sendButtonContent" class="sectionStudyContent">Send</p></div>

						<br/>
						<br/>

						{% autoescape false %}
						{{ captcha }}
						{% endautoescape %}

					</form>
				</div>
			</section>

			<section class="grid_3"></section>

		</div>
	</div>


</body>
</html>
