#nav{
    margin: 7px 0;
}

.flexslider, .flexslider ul li{
    border: none;
    border-radius: 0;
}

.flex-control-nav {
    display: none;
}

#main {
    text-align: center;
}

#main h1{
    font-size: 2.5em;
}

#main h3{
    margin: 0.5em 0 0;
}

.formInputText {
    background-color: white;
    border: 3px solid #8A8683;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    font-size: 23px;
    height: 36px;
    margin-left: 11px;
    padding-left: 5px;
    width: 100%;
}

.formError input, .formError textarea {
    border: 3px solid #D6514F;
    color: #D6514F;
}

.formError p, .formError td {
    color: #D6514F;
}

.labelForm

.formInputText:focus{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    border: 3px solid #66B7F4;
}


#formButtonSendMessage {
    background-color: #8A8683;
    border: 3px solid white;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 46px;
    padding-bottom: 18px;
    padding-right: 5px;
    text-align: center;
    width: 194px;
}

#sendButtonContent {
    color: white;
    font-size: 39px;
    margin: 0;
    padding: 4px 0 0;
    text-shadow: 0 1px 0 black;
}

#formTextArea {
    height: 200px;
    margin: 0;
    padding-top: 8px;
    width: 100%;
}

#messageP {
    margin-bottom: 11px;
    text-align: right;
}

#studies_box {
    text-align: center;
}

.boxList {
   display:inline;
   list-style-type:none;
   margin:2;
}

.boxDescription {
    margin-bottom: -10px;
}

.internships {
    margin-bottom: 100px;
}

.personalProject {
    margin-bottom: 70px;
}

#introduction {
    font-size: 1.2em;
    margin: auto;
    max-width: 794px;
    text-align: justify;
}

#main {
    border-bottom: 1px solid;
    margin-bottom: 60px;
    padding-bottom: 50px;
}

.blue {
    color: #A9D3D0;
}

.darkerBlue {
    color: #66B7F4;
}

#contactTitle{
    font-size: 3.8em;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 0;
}

#MessageForm tbody tr td {
    padding-bottom: 10px;
}

.sectionTitle {
    padding-bottom: 50px !important;
    font-size: 3.8em !important;
    font-weight: 700 !important;
    letter-spacing: -3px !important;
    line-height: 0 !important;
    margin: 1em 0 !important;
}

#uncle_sam {
    margin-bottom: -50px;
}

#formErrorMessage {
    display: none;
    color: #D6514F;
}

.techLogo {
    display: inline;
}

#phoneNumber {
    text-decoration: none;
    color: #8a8683;
    cursor: default;
}

.internshipsDescription{
    padding-left: 20px;
}

.missions {
    margin-top: 5px;
}

#reportingTools {
    margin-bottom: 10px !important;
    margin-top: 7px !important;
}

#reportingToolSection {
    margin-left: 22px;
}

a#linkToMain {
    color: #8A8683;
}

a#linkToMain:hover {
    color: #B2AEAB;
}